body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hymiot {
    width: 50px;
}

#button {
    background-color: white;
}